deploy.sh
debugging
tl424.sh
Commenting_Style_Guide_for_Aegix.md
tl-stable.sh
install.sh.bk
install.sh.bk2
install.sh.bk3
install.sh.bk_2024-05-23
install.sh.bk_2024-08-28
install.sh.bk_2024-09-20
install.sh.bk_2025-03-04
install-no-luks.sh
install-upstream-broke-luks.sh
tl-canary.sh.bk
install-canary.sh.bk_2024-08-28
install-canary.sh.bk_2024-09-20
tl-uefi.sh
website/
website-safe-copy/
aegix-penguin-grub.png
aegix-forest.png

